.swiper-button-next,
.swiper-button-prev {
    background-color: var(--black);
    color: var(--white);
    width: 50px !important;
    height: 50px !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: "next";
    color: #fff;
    font-size: 1.3rem !important;
}

.swiper-container-3 {
    position: relative;
}

.swiper-container .swiper-button-prev {
    left: 0;
}

.swiper-container .swiper-button-next {
    right: 0;
}

.swiper-container-2 .swiper-button-prev {
    left: 0;
    top: 50%;
}

.swiper-container-2 .swiper-button-next {
    right: 0;
    top: 50%;
}

.swiper-container-3 .swiper-button-next {
    right: 0;
    top: 48%;
}

.swiper-container-3 .swiper-button-prev {
    left: 0;
    top: 48%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.2rem;
}

.swiper-container .swiper-backface-hidden .swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper {
    position: initial;
}

.swiper-horizontal {
    width: 76%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

@media (max-width: 1450px) {
    .swiper-slide {
        width: 360px !important;
    }
}

@media (max-width: 1264px) {
    .swiper-horizontal {
        width: 70%;
    }

    .swiper-container .swiper-button-next {
        right: 0;
    }

    .swiper-container .swiper-button-prev {
        left: 0;
    }

    .swiper-container-2 .swiper-button-prev {
        top: 44%;
        left: 0;
    }

    .swiper-container-2 .swiper-button-next {
        top: 44%;
        right: 0;
    }

    .swiper-container-3 .swiper-button-prev,
    .swiper-container-3 .swiper-button-next {
        top: 50%;
    }
}

@media (max-width: 990px) {
    .swiper-horizontal {
        width: 100%;
    }

    .swiper-container-3 {
        padding: 0 5%;
    }

    .swiper-container-3 .swiper-button-prev,
    .swiper-container-3 .swiper-button-next {
        top: 35%;
    }
}

@media (max-width: 724px) {
    .swiper-container-3 .swiper-button-next,
    .swiper-container-3 .swiper-button-prev {
        top: 42%;
    }
}
